<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    @* <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png"> *@
    <title>@ViewData["Title"] - DashBoard</title>
    <link href="/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/admin/css/bootstrap-extension.css" rel="stylesheet">
    <link href="/admin/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/admin/css/buttons.dataTables.min.css" rel="stylesheet">
    <link href="/admin/css/sidebar-nav.min.css" rel="stylesheet">
    <link href="/admin/css/animate.css" rel="stylesheet">
    <link href="/admin/css/style.css" rel="stylesheet"> 
    <link href="/admin/css/blue-dark.css" id="theme" rel="stylesheet">
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse"
                   data-target=".navbar-collapse">
                    <i class="ti-menu"></i>
                </a>
                <div class="top-left-part">
                    <a class="logo" asp-controller="Page" asp-action="Home">
                        <b>
                            <img src="/admin/images/eliteadmin-logo.png" alt="home" class="dark-logo" />
                            <img src="/admin/images/eliteadmin-logo-dark.png" alt="home" class="light-logo" />
                        </b>
                        <span class="hidden-xs">
                            <img src="/admin/images/eliteadmin-text.png" alt="home" class="dark-logo" />
                            <img src="/admin/images/eliteadmin-text-dark.png" alt="home" class="light-logo" />
                        </span>
                    </a>
                </div>
                <ul class="nav navbar-top-links navbar-left hidden-xs">
                    <li>
                        <a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light">
                            <i class="icon-arrow-left-circle ti-menu"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="sidebar" role="navigation">
            <div class="wp-sidebar-nav">
                <div class="user-profile">
                    <div class="dropdown user-pro-body">
                        <div>
                            <img src="/admin/images/varun.jpg" alt="user-img" class="img-circle">
                        </div>
                        <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            Steave Gection <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu animated flipInY">
                            <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                            <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
                            <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                    </div>
                </div>
                <ul class="wp-side-menu">
                    <li class="@(@ViewData["Title"]as string =="User"?"selected":"")">
                        <a asp-controller="Users" asp-action="Index">
                            <i class="fa fa-circle-o text-danger"> </i>
                            <span class="hide-menu">Users</span>
                        </a>
                    </li>
                    <li class="@(@ViewData["Title"]as string =="Brand"?"selected":"")">
                        <a asp-controller="Brands" asp-action="Index">
                            <i class="fa fa-circle-o text-danger"> </i>
                            <span class="hide-menu">Brands</span>
                        </a>
                    </li>
                    <li class="@(@ViewData["Title"]as string =="Product"?"selected":"")">
                        <a asp-controller="Coffees" asp-action="Index">
                            <i class="fa fa-circle-o text-danger"> </i>
                            <span class="hide-menu">Coffees</span>
                        </a>
                    </li>
                    <li class="@(@ViewData["Title"]as string =="Blog"?"selected":"")">
                        <a asp-controller="Blogs" asp-action="Index">
                            <i class="fa fa-circle-o text-danger"> </i>
                            <span class="hide-menu">Blogs</span>
                        </a>
                    </li>
                    <li class="@(@ViewData["Title"]as string =="Contact"?"selected":"")">
                        <a asp-controller="Contacts" asp-action="Index">
                            <i class="fa fa-circle-o text-danger"> </i>
                            <span class="hide-menu">Contacts</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">@ViewData["Table"]</h4>
                    </div>
                    @if (!string.IsNullOrEmpty(@ViewData["Controller"] as string))
                    {
                        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                            <a asp-controller='@ViewData["Controller"]' asp-action="Create"
                               class="btn btn-info pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">
                                Create
                            </a>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer text-center"> 2017 &copy; Elite Admin brought to you by themedesigner.in </footer>
        </div>
    </div>
    <script src="/admin/js/jquery.min.js"></script>
    <script src="/admin/js/tether.min.js"></script>
    <script src="/admin/js/bootstrap.min.js"></script>
    <script src="/admin/js/bootstrap-extension.min.js"></script>
    <script src="/admin/js/wp-sidebar.js"></script>
    <!--slimscroll JavaScript -->
    <script src="/admin/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/admin/js/waves.js"></script>
    <script src="/admin/js/custom.min.js"></script>
    <script src="/admin/js/jquery.dataTables.min.js"></script>
    <script src="/admin/js/dataTables.buttons.min.js"></script>
    <script src="/admin/js/buttons.flash.min.js"></script>
    <script src="/admin/js/buttons.html5.min.js"></script>
    <script src="/admin/js/buttons.print.min.js"></script>
    <script src="/admin/js/jquery.peity.min.js"></script>
    <script src="/admin/js/jquery.peity.init.js"></script>
    <!--Style Switcher -->
    <script src="/admin/js/jQuery.style.switcher.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>


</html>
