@model IEnumerable<Order>

@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "Order";
    ViewData["Table"] = "Order Table";
}

<table class="table table-striped" id="orders">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    $ @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DropDownListFor(modelItem => item.Status,
                             new SelectList(Enum.GetValues(typeof(OrderStatus))),
                             new { @class = "form-control order-status", style = "width: auto;", data_order_id = item.Id })
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('.order-status').change(function () {
                var orderId = $(this).data('order-id');
                var newStatus = $(this).val();

                $.ajax({
                    url: '@Url.Action("UpdateOrderStatus", "Orders")',
                    type: 'POST',
                    data: { orderId: orderId, newStatus: newStatus },
                    success: function (response) {
                        location.reload();                    },
                    error: function (xhr, status, error) {
                        console.error('Error updating order status: ' + error);
                    }
                });
            });
        });

        $('#orders').DataTable();
    </script>
}