@model IEnumerable<Brand>

@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "Brand";
    ViewData["Table"] = "Brand Table";
    ViewData["Controller"] = "Brands";
}

<table class="table table-striped" id="brands">
    <thead>
        <tr>
            <th>No.</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Product</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Coffees.Count)</td>
                    <td>
                        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <button class="btn btn-outline-danger" onclick="Delete(@item.Id,'Brands')"
                        @(item.Coffees.Count != 0 ? "disabled" : null)>
                            Delete
                        </button>
                    </td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $('#brands').DataTable();
    </script>
}