@model PaginatedList<Coffee>

@{
    ViewData["Title"] = "Products";
}
<link href="~/css/template-collection.css" rel="stylesheet" />
<partial name="_BreadcrumbsPartial" />
<main class="main-content" id="MainContent" role="main" tabindex="-1">
    <div class="page-width contents">
        <div class="side-bar medium-up--one-quarter">
            <div id="shopify-section-tm-sidebar" class="shopify-section">
                <link rel="stylesheet"
                      href="//cafebrew-codezeel.myshopify.com/cdn/shop/t/2/assets/tm-sidebar.css?v=144335064839150544121666337131"
                      as="style" onload="this.onload=null;this.rel='stylesheet'" />
                <div class="filter-total side-box" style="border: 1px solid var(--color-base-border);">
                    <div class="facets-container">
                        <facet-filters-form class="facets small-hide">
                            <form id="FacetFiltersForm" class="facets__form" asp-action="Catalog">
                                <div class="FacetsWrapperDesktop">
                                    <h3 class="box-heading">Filter by</h3>
                                    <div class="box-content">
                                        <div class="disclosure-has-popup facets__disclosure js-filter" data-index="1">
                                            <summary class="facets__summary">
                                                <div>
                                                    <span class="filter-title">Availability</span>
                                                    <span class="count-bubble"></span>
                                                    <svg class="icon icon-caret" data-name="Layer 1"
                                                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 979.95 531.49">
                                                        <path d="M22.14,246a40.74,40.74,0,0,0-.3,57.6l445.9,450a40.68,40.68,0,0,0,57.6.3c.2-.1.2-.3.4-.5.7-.6,1.6-.8,2.3-1.5L977.94,306a40.77,40.77,0,1,0-57.4-57.9l-423.3,419.5L79.74,246.24a40.83,40.83,0,0,0-57.6-.2Z"
                                                              transform="translate(-10.07 -234.26)"></path>
                                                    </svg>
                                                </div>
                                            </summary>
                                            <div class="facets__display">
                                                <div class="facets__header">
                                                    <span class="facets__selected no-js-hidden">0 selected</span>
                                                    <a href="/collections/all"
                                                       class="facets__reset link underlined-link js-facet-remove">Reset</a>
                                                </div>
                                                <ul class="facets__list list-unstyled" role="list">
                                                    <li class="list-menu__item facets__item" id="Availability">
                                                        <label for="Filter-Availability-1" class="facet-checkbox">
                                                            <input type="radio" name="availability"
                                                            @(ViewBag.Availability == 1 ? "checked" : null)
                                                                   value="1" id="Filter-Availability-1" />
                                                            In stock
                                                        </label>
                                                    </li>
                                                    <li class="list-menu__item facets__item" id="Availability">
                                                        <label for="Filter-Availability-2" class="facet-checkbox">
                                                            <input type="radio" name="availability"
                                                            @(ViewBag.Availability == 0 ? "checked" : null)
                                                                   value="0" id="Filter-Availability-2" />
                                                            Out of stock
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="disclosure-has-popup facets__disclosure js-filter" data-index="2">
                                            <summary class="facets__summary">
                                                <div>
                                                    <span class="filter-title">Price</span>
                                                    <span class="count-bubble"></span>
                                                    <svg class="icon icon-caret" data-name="Layer 1"
                                                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 979.95 531.49">
                                                        <path d="M22.14,246a40.74,40.74,0,0,0-.3,57.6l445.9,450a40.68,40.68,0,0,0,57.6.3c.2-.1.2-.3.4-.5.7-.6,1.6-.8,2.3-1.5L977.94,306a40.77,40.77,0,1,0-57.4-57.9l-423.3,419.5L79.74,246.24a40.83,40.83,0,0,0-57.6-.2Z"
                                                              transform="translate(-10.07 -234.26)"></path>
                                                    </svg>
                                                </div>
                                            </summary>
                                            <div class="facets__display">
                                                <price-range class="facets__price">
                                                    <div class="field">
                                                        <span class="field__currency">$</span>
                                                        <input class="field__input" name="minPrice" value="@(ViewBag.MinPrice??0)"
                                                               id="Filter-Price-2" type="number" placeholder="0" min="0" />
                                                        <label class="field__label" for="Search-In-Modal">From</label>
                                                    </div>
                                                    <div class="field">
                                                        <span class="field__currency">$</span>
                                                        <input class="field__input" name="maxPrice" value="@(ViewBag.MaxPrice??0)"
                                                               id="Filter-Price-2" type="number" placeholder="0" min="0" />
                                                        <label class="field__label" for="Search-In-Modal">To</label>
                                                    </div>
                                                </price-range>
                                            </div>
                                        </div>
                                        <div class="disclosure-has-popup facets__disclosure js-filter" data-index="3">
                                            <summary class="facets__summary">
                                                <div>
                                                    <span class="filter-title">Brand</span>
                                                    <span class="count-bubble"></span>
                                                    <svg class="icon icon-caret" data-name="Layer 1"
                                                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 979.95 531.49">
                                                        <path d="M22.14,246a40.74,40.74,0,0,0-.3,57.6l445.9,450a40.68,40.68,0,0,0,57.6.3c.2-.1.2-.3.4-.5.7-.6,1.6-.8,2.3-1.5L977.94,306a40.77,40.77,0,1,0-57.4-57.9l-423.3,419.5L79.74,246.24a40.83,40.83,0,0,0-57.6-.2Z"
                                                              transform="translate(-10.07 -234.26)"></path>
                                                    </svg>
                                                </div>
                                            </summary>
                                            <div class="facets__display">
                                                <div class="facets__header">
                                                    <span class="facets__selected no-js-hidden">0 selected</span>
                                                    <a href="/collections/all"
                                                       class="facets__reset link underlined-link js-facet-remove">Reset</a>
                                                </div>
                                                <ul class="facets__list list-unstyled" role="list">
                                                    @{
                                                        string[] selectedBrands = ViewBag.SelectedBrands as string[];
                                                    }
                                                    @foreach (var item in ViewBag.Brands)
                                                    {
                                                        <li class="list-menu__item facets__item" id="Brand">
                                                            <label for="@item.Name" class="facet-checkbox">
                                                                @if (selectedBrands != null && selectedBrands.Contains(item.Name as string))
                                                                {
                                                                    <input type="checkbox" name="brands" checked
                                                                           value="@item.Name" id="@item.Name" />
                                                                }
                                                                else
                                                                {
                                                                    <input type="checkbox" name="brands"
                                                                           value="@item.Name" id="@item.Name" />
                                                                }
                                                                <svg width="16" height="16" viewBox="0 0 16 16"
                                                                     aria-hidden="true" focusable="false">
                                                                    <rect width="16" height="16" stroke="currentColor"
                                                                          fill="none" stroke-width="1"></rect>
                                                                </svg>
                                                                <svg class="icon icon-checkmark" aria-hidden="true"
                                                                     focusable="false" xmlns="http://www.w3.org/2000/svg"
                                                                     viewBox="0 0 12 9" fill="none" width="10px"
                                                                     height="10px">
                                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                                          d="M11.35.643a.5.5 0 01.006.707l-6.77 6.886a.5.5 0 01-.719-.006L.638 4.845a.5.5 0 11.724-.69l2.872 3.011 6.41-6.517a.5.5 0 01.707-.006h-.001z"
                                                                          fill="currentColor"></path>
                                                                </svg>
                                                                @item.Name
                                                            </label>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </facet-filters-form>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-container medium-up--three-quarters" style="padding-left: 30px;">
            <div id="shopify-section-template--16631469146405__product-grid"
                 style="margin-top:0;"
                 class="shopify-section spaced-section collection-grid-section">
                <link href="//cafebrew-codezeel.myshopify.com/cdn/shop/t/2/assets/component-loading-overlay.css?v=135534932159979988391666256837"
                      rel="stylesheet" type="text/css" media="all" />
                <link rel="stylesheet"
                      href="//cafebrew-codezeel.myshopify.com/cdn/shop/t/2/assets/component-rte.css?v=48186499454965788961666256838"
                      as="style" onload="this.onload=null;this.rel='stylesheet'" />
                <link href="//cafebrew-codezeel.myshopify.com/cdn/shop/t/2/assets/tm-sidebar.css?v=144335064839150544121666337131"
                      rel="stylesheet" type="text/css" media="all" />
                <div class="collection-hero__description rte"></div>
                <div class="page-width collection-filters sidebar-filter" id="main-collection-filters"
                     data-id="template--16631469146405__product-grid">
                    <link href="//cafebrew-codezeel.myshopify.com/cdn/shop/t/2/assets/component-facets.css?v=105876335990235907981666336927"
                          rel="stylesheet" type="text/css" media="all" />
                    <script src="/js/facets.js"
                            defer="defer"></script>
                    <div class="collection-btn">
                        <div class="btn-group">
                            <a href="#" id="col_4" class="btn btn-default btn-sm active">
                                <svg class="icon icon-col-4"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.5 12.5">
                                    <defs></defs>
                                    <g id="Layer_2" data-name="Layer 2">
                                        <g id="Layer_1-2" data-name="Layer 1">
                                            <g id="shop_page" data-name="shop page">
                                                <g id="_4_col" data-name="4_col">
                                                    <path id="Rectangle"
                                                          d="M.75 0a.76.76 0 01.75.75v11a.76.76 0 01-.75.75.76.76 0 01-.75-.75v-11A.76.76 0 01.75 0z">
                                                    </path>
                                                    <path id="Rectangle-2"
                                                          d="M4.75 0a.76.76 0 01.75.75v11a.76.76 0 01-.75.75.76.76 0 01-.75-.75v-11A.76.76 0 014.75 0z"
                                                          data-name="Rectangle"></path>
                                                    <path id="Rectangle-3"
                                                          d="M8.75 0a.76.76 0 01.75.75v11a.76.76 0 01-.75.75.76.76 0 01-.75-.75v-11A.76.76 0 018.75 0z"
                                                          data-name="Rectangle"></path>
                                                    <path id="Rectangle-4"
                                                          d="M12.75 0a.76.76 0 01.75.75v11a.76.76 0 01-.75.75.76.76 0 01-.75-.75v-11a.76.76 0 01.75-.75z"
                                                          data-name="Rectangle"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                            <a href="#" id="col_3" class="btn btn-default btn-sm">
                                <svg class="icon icon-col-3"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.5 12.5">
                                    <defs></defs>
                                    <g id="Layer_2" data-name="Layer 2">
                                        <g id="Layer_1-2" data-name="Layer 1">
                                            <g id="shop_page" data-name="shop page">
                                                <g id="Group-16">
                                                    <path id="Rectangle"
                                                          d="M.75 0a.76.76 0 01.75.75v11a.76.76 0 01-.75.75.76.76 0 01-.75-.75v-11A.76.76 0 01.75 0z">
                                                    </path>
                                                    <path id="Rectangle-2"
                                                          d="M4.75 0a.76.76 0 01.75.75v11a.76.76 0 01-.75.75.76.76 0 01-.75-.75v-11A.76.76 0 014.75 0z"
                                                          data-name="Rectangle"></path>
                                                    <path id="Rectangle-3"
                                                          d="M8.75 0a.76.76 0 01.75.75v11a.76.76 0 01-.75.75.76.76 0 01-.75-.75v-11A.76.76 0 018.75 0z"
                                                          data-name="Rectangle"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                            <a href="#" id="col_2" class="btn btn-default btn-sm">
                                <svg class="icon icon-col-2"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5.5 12.5">
                                    <defs></defs>
                                    <g id="Layer_2" data-name="Layer 2">
                                        <g id="Layer_1-2" data-name="Layer 1">
                                            <g id="shop_page" data-name="shop page">
                                                <g id="Group-10">
                                                    <path id="Rectangle"
                                                          d="M.75 0a.76.76 0 01.75.75v11a.76.76 0 01-.75.75.76.76 0 01-.75-.75v-11A.76.76 0 01.75 0z">
                                                    </path>
                                                    <path id="Rectangle-2"
                                                          d="M4.75 0a.76.76 0 01.75.75v11a.76.76 0 01-.75.75.76.76 0 01-.75-.75v-11A.76.76 0 014.75 0z"
                                                          data-name="Rectangle"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                            <a href="#" id="col_1" class="btn btn-default btn-sm">
                                <svg class="icon icon-list"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.5 9.5">
                                    <defs></defs>
                                    <g id="Layer_2" data-name="Layer 2">
                                        <g id="Layer_1-2" data-name="Layer 1">
                                            <g id="shop_page" data-name="shop page">
                                                <g id="Group-16">
                                                    <path id="Rectangle"
                                                          d="M12.5.75a.76.76 0 01-.75.75h-11A.76.76 0 010 .75.76.76 0 01.75 0h11a.76.76 0 01.75.75z">
                                                    </path>
                                                    <path id="Rectangle-2"
                                                          d="M12.5 4.75a.76.76 0 01-.75.75h-11A.76.76 0 010 4.75.76.76 0 01.75 4h11a.76.76 0 01.75.75z"
                                                          data-name="Rectangle"></path>
                                                    <path id="Rectangle-3"
                                                          d="M12.5 8.75a.76.76 0 01-.75.75h-11A.76.76 0 010 8.75.76.76 0 01.75 8h11a.76.76 0 01.75.75z"
                                                          data-name="Rectangle"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </div>
                        <div class="product-count light" role="status">
                            <div class="product-count__text">
                                <span id="ProductCount">18 products </span>
                            </div>
                            <div class="loading-overlay__spinner">
                                <svg aria-hidden="true" focusable="false" role="presentation" class="spinner"
                                     viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30">
                                    </circle>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="ProductGridContainer">
                    <div class="collection page-width">
                        <div id="products" class="row list-group">
                            <ul id="product-grid" data-id="template--16631469146405__product-grid"
                                class="item grid grid--2-col grid--3-col-tablet grid--4-col-desktop grid--one-third-max grid--quarter-max negative-margin">
                                @foreach (var item in Model)
                                {
                                    <li class="grid__item item grid--4-col-desktop">
                                        <span class="products">
                                            <div class="card-wrapper">
                                                <div class="card-img">
                                                    <a asp-action="ProductDetail" asp-route-id="@item.Name"
                                                       class="full-unstyled-link">
                                                        <span class="visually-hidden">Agglomerated Instant Coffee</span>
                                                        <div class="card card--product" tabindex="-1">
                                                            <div class="card__inner">
                                                                <div>
                                                                    <div class="media media--transparent media--adapt media--hover-effect"
                                                                         style="padding-bottom: 105.48523206751055%">
                                                                        <img src="@item.Image"
                                                                             alt="Agglomerated Instant Coffee" loading="lazy"
                                                                             class="motion-reduce" width="948"
                                                                             height="1000" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="product-hover">
                                                    <div data-js-product=""
                                                         data-product-handle="copy-of-duis-sit-amet-massa-1"
                                                         data-product-variant-id="43643338686757"></div>
                                                    <button type="button" aria-label="Add to wishlist"
                                                            class="cm-link btn--status" button-wishlist=""
                                                            data-product-handle="copy-of-duis-sit-amet-massa-1">
                                                        <svg class="icon icon-cmheart not-added" fill="#000" width="50px"
                                                             height="50px" version="1.1" id="Capa_1"
                                                             xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                             viewBox="0 0 477.534 477.534"
                                                             style="enable-background: new 0 0 477.534 477.534"
                                                             xml:space="preserve">
                                                        <g>
                                                        <g>
                                                        <path d="M438.482,58.61c-24.7-26.549-59.311-41.655-95.573-41.711c-36.291,0.042-70.938,15.14-95.676,41.694l-8.431,8.909
                l-8.431-8.909C181.284,5.762,98.662,2.728,45.832,51.815c-2.341,2.176-4.602,4.436-6.778,6.778
                c-52.072,56.166-52.072,142.968,0,199.134l187.358,197.581c6.482,6.843,17.284,7.136,24.127,0.654
                c0.224-0.212,0.442-0.43,0.654-0.654l187.29-197.581C490.551,201.567,490.551,114.77,438.482,58.61z M413.787,234.226h-0.017
                L238.802,418.768L63.818,234.226c-39.78-42.916-39.78-109.233,0-152.149c36.125-39.154,97.152-41.609,136.306-5.484
                c1.901,1.754,3.73,3.583,5.484,5.484l20.804,21.948c6.856,6.812,17.925,6.812,24.781,0l20.804-21.931
                c36.125-39.154,97.152-41.609,136.306-5.484c1.901,1.754,3.73,3.583,5.484,5.484C453.913,125.078,454.207,191.516,413.787,234.226
                z"></path>
                                                                                                                    </g>
                                                                                                                </g>
                                                                                                            </svg>
                                                        <svg class="icon added icon-solidheart" version="1.1" id="Capa_1"
                                                             xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                             width="510px" height="510px" viewBox="0 0 512 512"
                                                             style="enable-background: new 0 0 510 510" xml:space="preserve">
                                                        <path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z">
                                                                                                                </path>
                                                                                                            </svg>
                                                    </button>
                                                    <button type="button" aria-label="Add to compare"
                                                            class="cm-link btn--status" button-compare=""
                                                            data-product-handle="copy-of-duis-sit-amet-massa-1">
                                                        <svg class="icon icon-cmcompare not-added" fill="#000" width="50px"
                                                             height="50px" version="1.1" id="Capa_1"
                                                             xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink" x="50px" y="50px"
                                                             viewBox="0 0 512 512" style="enable-background: new 0 0 512 512"
                                                             xml:space="preserve">
                                                        <g>
                                                        <g>
                                                        <path d="M493.815,70.629c-11.001-1.003-20.73,7.102-21.733,18.102l-2.65,29.069C424.473,47.194,346.429,0,256,0
                C158.719,0,72.988,55.522,30.43,138.854c-5.024,9.837-1.122,21.884,8.715,26.908c9.839,5.024,21.884,1.123,26.908-8.715
                C102.07,86.523,174.397,40,256,40c74.377,0,141.499,38.731,179.953,99.408l-28.517-20.367c-8.989-6.419-21.48-4.337-27.899,4.651
                c-6.419,8.989-4.337,21.479,4.651,27.899l86.475,61.761c12.674,9.035,30.155,0.764,31.541-14.459l9.711-106.53
                C512.919,81.362,504.815,71.632,493.815,70.629z"></path>
                                                                                                                    </g>
                                                                                                                </g>
                                                        <g>
                                                        <g>
                                                        <path d="M472.855,346.238c-9.838-5.023-21.884-1.122-26.908,8.715C409.93,425.477,337.603,472,256,472
                c-74.377,0-141.499-38.731-179.953-99.408l28.517,20.367c8.989,6.419,21.479,4.337,27.899-4.651
                c6.419-8.989,4.337-21.479-4.651-27.899l-86.475-61.761c-12.519-8.944-30.141-0.921-31.541,14.459l-9.711,106.53
                c-1.003,11,7.102,20.73,18.101,21.733c11.014,1.001,20.731-7.112,21.733-18.102l2.65-29.069C87.527,464.806,165.571,512,256,512
                c97.281,0,183.012-55.522,225.57-138.854C486.594,363.309,482.692,351.262,472.855,346.238z"></path>
                                                                                                                    </g>
                                                                                                                </g>
                                                                                                            </svg>
                                                        <svg class="icon added icon-checked" version="1.1"
                                                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                                             enable-background="new 0 0 26 26">
                                                            <path d="m.3,14c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.4-0.4 1-0.4 1.4,0l.1,.1 5.5,5.9c0.2,0.2 0.5,0.2 0.7,0l13.4-13.9h0.1v-8.88178e-16c0.4-0.4 1-0.4 1.4,0l1.4,1.4c0.4,0.4 0.4,1 0,1.4l0,0-16,16.6c-0.2,0.2-0.4,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-7.8-8.4-.2-.3z">
                                                            </path>
                                                        </svg>
                                                    </button>
                                                    <product-form class="product-form">
                                                        <form method="post" id="ProductDrop" accept-charset="UTF-8" class="form" enctype="multipart/form-data" novalidate="novalidate" data-type="add-to-cart-form">
                                                            <div class="product-form__buttons">
                                                                <button type="submit" name="add" class="product-form__submit button">
                                                                    Add to cart
                                                                    <svg class="icon" id="i-cart" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 432 522" style="enable-background: new 0 0 432 522" xml:space="preserve">
                                                                    <g>
                                                                    <path d="M412,130h-60.9C343.1,62.5,285.6,0,216,0S88.9,62.5,80.9,130H20c-11,0-20,9-20,20v352c0,11,9,20,20,20h392c11,0,20-9,20-20
		V150C432,139,423,130,412,130z M216,40c47.5,0,87,44.7,94.7,90H121.3C129,84.7,168.5,40,216,40z M392,482H40V170h40v30
		c0,11,9,20,20,20s20-9,20-20v-30h192v30c0,11,9,20,20,20s20-9,20-20v-30h40V482z"></path>
                                                                                                                                          </g>
                                                                                                                                        </svg>
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </product-form>
                                                </div>
                                                <div class="card-information">
                                                    <div class="card-information__wrapper">
                                                        <span class="card-information__text h5">
                                                            <a asp-action="ProductDetail" asp-route-id="@item.Name">
                                                                @item.Name
                                                            </a>
                                                        </span>
                                                        <span class="caption-large short-text">
                                                            @item.Description
                                                        </span>
                                                        <div class="price">
                                                            <dl>
                                                                <div class="price__regular">
                                                                    <dt>
                                                                        <span class="visually-hidden visually-hidden--inline">
                                                                            Regular
                                                                            price
                                                                        </span>
                                                                    </dt>
                                                                    <dd>
                                                                        <span class="price-item price-item--regular">
                                                                            $@item.Price
                                                                        </span>
                                                                    </dd>
                                                                </div>
                                                            </dl>
                                                        </div>
                                                        <product-form class="product-form">
                                                            <form method="post" action="/cart/add" id="ProductDrop" accept-charset="UTF-8" class="form" enctype="multipart/form-data" novalidate="novalidate" data-type="add-to-cart-form">
                                                                <div class="product-form__buttons">
                                                                    <a asp-action="ProductDetail" asp-route-id="@item.Name"
                                                                       class="product-form__submit button select-button" title="Select option">
                                                                        Select option
                                                                    </a>
                                                                </div>
                                                            </form>
                                                        </product-form>
                                                    </div>
                                                </div>
                                            </div>
                                        </span>
                                    </li>
                                }
                            </ul>
                            @if (Model.TotalPages > 1)
                            {
                                <div class="pagination-wrapper">
                                    <nav class="pagination" role="navigation" aria-label="Pagination">
                                        <ul class="pagination__list list-unstyled" role="list">
                                            @if (Model.HasPreviousPage)
                                            {
                                                <li>
                                                    <a asp-action="Catalog" asp-route-pageNumber="@(Model.PageIndex-1)"
                                                       class="pagination__item pagination__item--next pagination__item-arrow link motion-reduce" aria-label="Previous page">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-lag" viewBox="0 0 24 24">
                                                            <path d="M24 24H0V0h24v24z" fill="none" opacity=".87"></path>
                                                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"></path>
                                                        </svg>
                                                    </a>
                                                </li>
                                            }
                                            @for (int i = 1; i <= Model.TotalPages; i++)
                                            {

                                                if (i == Model.PageIndex)
                                                {
                                                    <li>
                                                        <span class="pagination__item pagination__item--current" aria-current="page" aria-label="Page @i">@i</span>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a asp-action="Blog" asp-route-pageNumber="@i" class="pagination__item link" aria-label="Page @i">@i</a>
                                                    </li>
                                                }
                                            }
                                            @if (Model.HasNextPage)
                                            {
                                                <li>
                                                    <a asp-action="Catalog" asp-route-pageNumber="@(Model.PageIndex+1)"
                                                       class="pagination__item pagination__item--prev pagination__item-arrow link motion-reduce" aria-label="Next page">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-lag" viewBox="0 0 24 24">
                                                            <path d="M24 24H0V0h24v24z" fill="none" opacity=".87"></path>
                                                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"></path>
                                                        </svg>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </nav>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</Blog>