@{
    ViewData["Title"] = "Home";
    List<Coffee> PopularProducts = ViewData["Products"] as List<Coffee>;
    List<Coffee> LatestProducts = ViewData["Products"] as List<Coffee>;
    List<Coffee> FeaturedProducts = ViewData["Products"] as List<Coffee>;
    List<Blog> Blogs = ViewData["Blogs"] as List<Blog>;
}
<link href="~/css/section-slideshow.css" rel="stylesheet" />
<link href="~/css/flexslider.css" rel="stylesheet" />
<link href="~/css/component-slider.css" rel="stylesheet" />
<link href="~/css/section-collection-list.css" rel="stylesheet" />
<link href="~/css/component-rating.css" rel="stylesheet" />
<link href="~/css/section-tm_service.css" rel="stylesheet" />
<link href="~/css/section-tm-parallex.css" rel="stylesheet" />
<link href="~/css/tm-logo-bar.css" rel="stylesheet" />
<link href="~/css/section-tm-subbanners.css" rel="stylesheet" />
<link href="~/css/section-featured-blog.css" rel="stylesheet" />
<link href="~/css/template-collection.css" rel="stylesheet" />

<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/jquery.flexslider.js"></script>
<script src="~/js/jarallax.min.js" defer="defer"></script>
<script src="~/js/jarallax-video.min.js" defer="defer"></script>
<main class="main-content" id="MainContent" role="main" tabindex="-1">
    <div class="contents">
        <div class="main-container medium-up--three-quarters without-sidebar-main-container">
            <section id="shopify-section-template--16631469179173__1626698440992c0b90"
                     class="shopify-section spaced-section slideshow spaced-section--full-width">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="images/main-banner-1_2048x.jpg" draggable="false" />
                            <div class="slideshow-text">
                                <div class="slideshow__slidetitle">
                                    Discount Up To 50 % Off
                                </div>
                                <div class="slideshow__subheading">Tasty Cappuccino</div>
                                <div class="slideshow__subtitle">Coffee</div>
                                <div class="slideshow__btn-wrapper">
                                    <a href="https://cafebrew-codezeel.myshopify.com/#" class="btn slideshow__btn button">
                                        Shop Now
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <img src="images/main-banner-2_2048x.jpg" draggable="false" />
                            <div class="slideshow-text">
                                <div class="slideshow__slidetitle">
                                    Discount Up To 40 % Off
                                </div>
                                <div class="slideshow__subheading">Chip Frappuccino</div>
                                <div class="slideshow__subtitle">Coffee</div>
                                <div class="slideshow__btn-wrapper">
                                    <a href="/" class="btn slideshow__btn button">
                                        shop now
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section id="shopify-section-template--16631469179173__ec3cd966-2ef7-4db7-a020-d7d8bdb47d52"
                     class="shopify-section spaced-section">
                <div class="collection page-width page-width-desktop">
                    <div class="title-wrapper--self-padded-tablet-down">
                        <h2 class="title">Latest Products</h2>
                    </div>
                    <slider-component class="slider-mobile-gutter">
                        <ul class="grid grid--5-col-desktop grid--2-col grid--4-col grid--3-col-tablet grid--one-third-max grid--4-col-desktop grid--quarter-max slider slider--tablet negative-margin--small"
                            role="list">
                            @foreach (var item in LatestProducts)
                            {
                                <li class="grid__item slider__slide">
                                    <span class="products">
                                        <div class="card-wrapper">
                                            <div class="card-img">
                                                <a asp-controller="Page" asp-action="ProductDetail" asp-route-id="@item.Name"
                                                   class="full-unstyled-link">
                                                    <span class="visually-hidden">@(item.Name)</span>
                                                    <div class="card card--product" tabindex="-1">
                                                        <div class="card__inner">
                                                            <div>
                                                                <div class="media media--transparent media--adapt media--hover-effect"
                                                                     style="padding-bottom: 105.48523206751055%">
                                                                    <img src="@(item.Image)"
                                                                         alt="@(item.Name)" loading="lazy" class="motion-reduce" width="948"
                                                                         height="1000" />
                                                                </div>
                                                            </div>
                                                            <div class="grid-product__on-sale card__badge">
                                                                <span class="badge badge--bottom-left" aria-hidden="true">-13%</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product-hover">
                                                <div data-js-product="" data-product-handle="@(item.Name)"
                                                     data-product-variant-id="43643342881061"></div>
                                                <button type="button" aria-label="Add to wishlist" class="cm-link btn--status"
                                                        button-wishlist="" data-product-handle="@(item.Name)">
                                                    <svg class="icon icon-cmheart not-added" fill="#000" width="50px" height="50px" version="1.1"
                                                         id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                         x="0px" y="0px" viewBox="0 0 477.534 477.534"
                                                         style="enable-background: new 0 0 477.534 477.534" xml:space="preserve">
                                                    <g>
                                                    <g>
                                                    <path d="M438.482,58.61c-24.7-26.549-59.311-41.655-95.573-41.711c-36.291,0.042-70.938,15.14-95.676,41.694l-8.431,8.909
			l-8.431-8.909C181.284,5.762,98.662,2.728,45.832,51.815c-2.341,2.176-4.602,4.436-6.778,6.778
			c-52.072,56.166-52.072,142.968,0,199.134l187.358,197.581c6.482,6.843,17.284,7.136,24.127,0.654
			c0.224-0.212,0.442-0.43,0.654-0.654l187.29-197.581C490.551,201.567,490.551,114.77,438.482,58.61z M413.787,234.226h-0.017
			L238.802,418.768L63.818,234.226c-39.78-42.916-39.78-109.233,0-152.149c36.125-39.154,97.152-41.609,136.306-5.484
			c1.901,1.754,3.73,3.583,5.484,5.484l20.804,21.948c6.856,6.812,17.925,6.812,24.781,0l20.804-21.931
			c36.125-39.154,97.152-41.609,136.306-5.484c1.901,1.754,3.73,3.583,5.484,5.484C453.913,125.078,454.207,191.516,413.787,234.226
			z"></path>
                                                                                                  </g>
                                                                                                </g>
                                                                                              </svg>
                                                    <svg class="icon added icon-solidheart" version="1.1" id="Capa_1"
                                                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                                         y="0px" width="510px" height="510px" viewBox="0 0 512 512"
                                                         style="enable-background: new 0 0 510 510" xml:space="preserve">
                                                    <path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z">
                                                                                                </path>
                                                                                              </svg>
                                                </button>
                                                <button type="button" aria-label="Add to compare" class="cm-link btn--status" button-compare=""
                                                        data-product-handle="@(item.Name)">
                                                    <svg class="icon icon-cmcompare not-added" fill="#000" width="50px" height="50px"
                                                         version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="50px" y="50px" viewBox="0 0 512 512"
                                                         style="enable-background: new 0 0 512 512" xml:space="preserve">
                                                    <g>
                                                    <g>
                                                    <path d="M493.815,70.629c-11.001-1.003-20.73,7.102-21.733,18.102l-2.65,29.069C424.473,47.194,346.429,0,256,0
                              C158.719,0,72.988,55.522,30.43,138.854c-5.024,9.837-1.122,21.884,8.715,26.908c9.839,5.024,21.884,1.123,26.908-8.715
                              C102.07,86.523,174.397,40,256,40c74.377,0,141.499,38.731,179.953,99.408l-28.517-20.367c-8.989-6.419-21.48-4.337-27.899,4.651
                              c-6.419,8.989-4.337,21.479,4.651,27.899l86.475,61.761c12.674,9.035,30.155,0.764,31.541-14.459l9.711-106.53
                              C512.919,81.362,504.815,71.632,493.815,70.629z"></path>
                                                                                                  </g>
                                                                                                </g>
                                                    <g>
                                                    <g>
                                                    <path d="M472.855,346.238c-9.838-5.023-21.884-1.122-26.908,8.715C409.93,425.477,337.603,472,256,472
                              c-74.377,0-141.499-38.731-179.953-99.408l28.517,20.367c8.989,6.419,21.479,4.337,27.899-4.651
                              c6.419-8.989,4.337-21.479-4.651-27.899l-86.475-61.761c-12.519-8.944-30.141-0.921-31.541,14.459l-9.711,106.53
                              c-1.003,11,7.102,20.73,18.101,21.733c11.014,1.001,20.731-7.112,21.733-18.102l2.65-29.069C87.527,464.806,165.571,512,256,512
                              c97.281,0,183.012-55.522,225.57-138.854C486.594,363.309,482.692,351.262,472.855,346.238z">
                                                                                                    </path>
                                                                                                  </g>
                                                                                                </g>
                                                                                              </svg>
                                                    <svg class="icon added icon-checked" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                         viewBox="0 0 26 26" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                         enable-background="new 0 0 26 26">
                                                        <path d="m.3,14c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.4-0.4 1-0.4 1.4,0l.1,.1 5.5,5.9c0.2,0.2 0.5,0.2 0.7,0l13.4-13.9h0.1v-8.88178e-16c0.4-0.4 1-0.4 1.4,0l1.4,1.4c0.4,0.4 0.4,1 0,1.4l0,0-16,16.6c-0.2,0.2-0.4,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-7.8-8.4-.2-.3z">
                                                        </path>
                                                    </svg>
                                                </button>
                                                <product-form class="product-form">
                                                    <form method="post" id="ProductDrop" onsubmit="addToCart(event)"
                                                          accept-charset="UTF-8" class="form" enctype="multipart/form-data" novalidate="novalidate"
                                                          data-type="add-to-cart-form">
                                                        <input type="hidden" name="productId" value="@item.Id" />
                                                        <div class="product-form__buttons">
                                                            <button type="submit" name="add" class="product-form__submit button">
                                                                Add to cart
                                                                <svg class="icon" id="i-cart" version="1.1"
                                                                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                                                     y="0px" viewBox="0 0 432 522" style="enable-background: new 0 0 432 522"
                                                                     xml:space="preserve">
                                                                <g>
                                                                <path d="M412,130h-60.9C343.1,62.5,285.6,0,216,0S88.9,62.5,80.9,130H20c-11,0-20,9-20,20v352c0,11,9,20,20,20h392c11,0,20-9,20-20
		V150C432,139,423,130,412,130z M216,40c47.5,0,87,44.7,94.7,90H121.3C129,84.7,168.5,40,216,40z M392,482H40V170h40v30
		c0,11,9,20,20,20s20-9,20-20v-30h192v30c0,11,9,20,20,20s20-9,20-20v-30h40V482z"></path>
                                                                                                      </g>
                                                                                                    </svg>
                                                            </button>
                                                        </div>
                                                    </form>
                                                </product-form>
                                            </div>
                                            <div class="card-information">
                                                <div class="card-information__wrapper">
                                                    <span class="card-information__text h5">
                                                        <a href="https://cafebrew-codezeel.myshopify.com/products/et-harum-quidem">
                                                            @(item.Name)
                                                        </a>
                                                    </span>
                                                    <span class="caption-large">
                                                        Elegant and comfy, this embroidered
                                                        A-line dress
                                                        which has a round neck, and three-quarter sleeves
                                                        is all you need to ensure your wardrobe is up to
                                                        date. Browse through the latest collection of
                                                        various ethnic dresses with cap sleeve sleeve
                                                        designs to give a flawless...
                                                    </span>
                                                    <div class="price">
                                                        <dl>
                                                            <div class="price__regular">
                                                                <dt>
                                                                    <span class="visually-hidden visually-hidden--inline">
                                                                        Regular
                                                                        price
                                                                    </span>
                                                                </dt>
                                                                <dd>
                                                                    <span class="price-item price-item--regular">
                                                                        $250.00
                                                                    </span>
                                                                </dd>
                                                            </div>
                                                            <div class="price__sale">
                                                                <dt>
                                                                    <span class="visually-hidden visually-hidden--inline">
                                                                        Sale
                                                                        price
                                                                    </span>
                                                                </dt>
                                                                <dd>
                                                                    <span class="price-item price-item--sale">
                                                                        $250.00
                                                                    </span>
                                                                </dd>
                                                            </div>
                                                        </dl>
                                                        <!---->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </span>
                                </li>
                            }
                        </ul>
                        <div class="slider-buttons no-js-hidden">
                            <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="Slide left">
                                <svg class="icon icon-caret" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17,9.17a1,1,0,0,0-1.41,0L12,12.71,8.46,9.17a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42l4.24,4.24a1,1,0,0,0,1.42,0L17,10.59A1,1,0,0,0,17,9.17Z">
                                    </path>
                                </svg>
                            </button>
                            <button type="button" class="slider-button slider-button--next" name="next" aria-label="Slide right">
                                <svg class="icon icon-caret" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17,9.17a1,1,0,0,0-1.41,0L12,12.71,8.46,9.17a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42l4.24,4.24a1,1,0,0,0,1.42,0L17,10.59A1,1,0,0,0,17,9.17Z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </slider-component>
                </div>
            </section>
            <section id="shopify-section-template--16631469179173__16394673417304330d"
                     class="shopify-section spaced-section parallax">
                <div class="tm-parallex">
                    <a class="parallex-image" href="https://cafebrew-codezeel.myshopify.com/#">
                        <div class="parallex-content">
                            <div class="parallex-heading">Discount Up To 40 % Off</div>
                            <div class="parallex-title">
                                Limited Edition Flavors of <br />Fall Coffee
                            </div>
                            <div class="parallex-button">
                                <div class="button parallex__btn">Shop Now</div>
                            </div>
                        </div>
                    </a>
                </div>
            </section>
            <section id="shopify-section-template--16631469179173__f1e247a0-5118-4ba2-8110-8bdf6d7dc4c9"
                     class="shopify-section spaced-section">
                <div class="collection page-width page-width-desktop">
                    <div class="title-wrapper--self-padded-tablet-down">
                        <h2 class="title">Featured Products</h2>
                    </div>
                    <slider-component class="slider-mobile-gutter">
                        <ul class="grid grid--5-col-desktop grid--2-col grid--4-col grid--3-col-tablet grid--one-third-max grid--4-col-desktop grid--quarter-max slider slider--tablet negative-margin--small"
                            role="list">
                            @foreach (var item in FeaturedProducts)
                            {
                                <li class="grid__item slider__slide">
                                    <span class="products">
                                        <div class="card-wrapper">
                                            <div class="card-img">
                                                <a href="https://cafebrew-codezeel.myshopify.com/products/et-harum-quidem"
                                                   class="full-unstyled-link">
                                                    <span class="visually-hidden">@(item.Name)</span>
                                                    <div class="card card--product" tabindex="-1">
                                                        <div class="card__inner">
                                                            <div>
                                                                <div class="media media--transparent media--adapt media--hover-effect"
                                                                     style="padding-bottom: 105.48523206751055%">
                                                                    <img src="@(item.Image)"
                                                                         alt="@(item.Name)" loading="lazy" class="motion-reduce" width="948"
                                                                         height="1000" />
                                                                </div>
                                                            </div>
                                                            <div class="grid-product__on-sale card__badge">
                                                                <span class="badge badge--bottom-left" aria-hidden="true">-13%</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product-hover">
                                                <div data-js-product="" data-product-handle="@(item.Name)"
                                                     data-product-variant-id="43643342881061"></div>
                                                <button type="button" aria-label="Add to wishlist" class="cm-link btn--status"
                                                        button-wishlist="" data-product-handle="@(item.Name)">
                                                    <svg class="icon icon-cmheart not-added" fill="#000" width="50px" height="50px" version="1.1"
                                                         id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                         x="0px" y="0px" viewBox="0 0 477.534 477.534"
                                                         style="enable-background: new 0 0 477.534 477.534" xml:space="preserve">
                                                    <g>
                                                    <g>
                                                    <path d="M438.482,58.61c-24.7-26.549-59.311-41.655-95.573-41.711c-36.291,0.042-70.938,15.14-95.676,41.694l-8.431,8.909
			l-8.431-8.909C181.284,5.762,98.662,2.728,45.832,51.815c-2.341,2.176-4.602,4.436-6.778,6.778
			c-52.072,56.166-52.072,142.968,0,199.134l187.358,197.581c6.482,6.843,17.284,7.136,24.127,0.654
			c0.224-0.212,0.442-0.43,0.654-0.654l187.29-197.581C490.551,201.567,490.551,114.77,438.482,58.61z M413.787,234.226h-0.017
			L238.802,418.768L63.818,234.226c-39.78-42.916-39.78-109.233,0-152.149c36.125-39.154,97.152-41.609,136.306-5.484
			c1.901,1.754,3.73,3.583,5.484,5.484l20.804,21.948c6.856,6.812,17.925,6.812,24.781,0l20.804-21.931
			c36.125-39.154,97.152-41.609,136.306-5.484c1.901,1.754,3.73,3.583,5.484,5.484C453.913,125.078,454.207,191.516,413.787,234.226
			z"></path>
                                                                                              </g>
                                                                                            </g>
                                                                                          </svg>
                                                    <svg class="icon added icon-solidheart" version="1.1" id="Capa_1"
                                                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                                         y="0px" width="510px" height="510px" viewBox="0 0 512 512"
                                                         style="enable-background: new 0 0 510 510" xml:space="preserve">
                                                    <path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z">
                                                                                            </path>
                                                                                          </svg>
                                                </button>
                                                <button type="button" aria-label="Add to compare" class="cm-link btn--status" button-compare=""
                                                        data-product-handle="@(item.Name)">
                                                    <svg class="icon icon-cmcompare not-added" fill="#000" width="50px" height="50px"
                                                         version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="50px" y="50px" viewBox="0 0 512 512"
                                                         style="enable-background: new 0 0 512 512" xml:space="preserve">
                                                    <g>
                                                    <g>
                                                    <path d="M493.815,70.629c-11.001-1.003-20.73,7.102-21.733,18.102l-2.65,29.069C424.473,47.194,346.429,0,256,0
                              C158.719,0,72.988,55.522,30.43,138.854c-5.024,9.837-1.122,21.884,8.715,26.908c9.839,5.024,21.884,1.123,26.908-8.715
                              C102.07,86.523,174.397,40,256,40c74.377,0,141.499,38.731,179.953,99.408l-28.517-20.367c-8.989-6.419-21.48-4.337-27.899,4.651
                              c-6.419,8.989-4.337,21.479,4.651,27.899l86.475,61.761c12.674,9.035,30.155,0.764,31.541-14.459l9.711-106.53
                              C512.919,81.362,504.815,71.632,493.815,70.629z"></path>
                                                                                              </g>
                                                                                            </g>
                                                    <g>
                                                    <g>
                                                    <path d="M472.855,346.238c-9.838-5.023-21.884-1.122-26.908,8.715C409.93,425.477,337.603,472,256,472
                              c-74.377,0-141.499-38.731-179.953-99.408l28.517,20.367c8.989,6.419,21.479,4.337,27.899-4.651
                              c6.419-8.989,4.337-21.479-4.651-27.899l-86.475-61.761c-12.519-8.944-30.141-0.921-31.541,14.459l-9.711,106.53
                              c-1.003,11,7.102,20.73,18.101,21.733c11.014,1.001,20.731-7.112,21.733-18.102l2.65-29.069C87.527,464.806,165.571,512,256,512
                              c97.281,0,183.012-55.522,225.57-138.854C486.594,363.309,482.692,351.262,472.855,346.238z">
                                                                                                </path>
                                                                                              </g>
                                                                                            </g>
                                                                                          </svg>
                                                    <svg class="icon added icon-checked" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                         viewBox="0 0 26 26" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                         enable-background="new 0 0 26 26">
                                                        <path d="m.3,14c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.4-0.4 1-0.4 1.4,0l.1,.1 5.5,5.9c0.2,0.2 0.5,0.2 0.7,0l13.4-13.9h0.1v-8.88178e-16c0.4-0.4 1-0.4 1.4,0l1.4,1.4c0.4,0.4 0.4,1 0,1.4l0,0-16,16.6c-0.2,0.2-0.4,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-7.8-8.4-.2-.3z">
                                                        </path>
                                                    </svg>
                                                </button>
                                                <div class="quick-view-button">
                                                    <a class="quick-view cm-link btn--status" data-handle="@(item.Name)"
                                                       href="javascript:void(0);">
                                                        <svg class="icon fa-eye fa-w-18" fill="#000" width="50px"
                                                             height="50px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 511.999 511.999"
                                                             style="
                                  enable-background: new 0 0 511.999 511.999;
                                                                                                " xml:space="preserve">
                                                        <g>
                                                        <g>
                                                        <path d="M508.745,246.041c-4.574-6.257-113.557-153.206-252.748-153.206S7.818,239.784,3.249,246.035
			c-4.332,5.936-4.332,13.987,0,19.923c4.569,6.257,113.557,153.206,252.748,153.206s248.174-146.95,252.748-153.201
			C513.083,260.028,513.083,251.971,508.745,246.041z M255.997,385.406c-102.529,0-191.33-97.533-217.617-129.418
			c26.253-31.913,114.868-129.395,217.617-129.395c102.524,0,191.319,97.516,217.617,129.418
			C447.361,287.923,358.746,385.406,255.997,385.406z"></path>
                                                                                                </g>
                                                                                              </g>
                                                        <g>
                                                        <g>
                                                        <path d="M255.997,154.725c-55.842,0-101.275,45.433-101.275,101.275s45.433,101.275,101.275,101.275
			s101.275-45.433,101.275-101.275S311.839,154.725,255.997,154.725z M255.997,323.516c-37.23,0-67.516-30.287-67.516-67.516
			s30.287-67.516,67.516-67.516s67.516,30.287,67.516,67.516S293.227,323.516,255.997,323.516z"></path>
                                                                                                </g>
                                                                                              </g>
                                                                                            </svg>
                                                    </a>
                                                </div>
                                                <product-form class="product-form">
                                                    <form method="post" onsubmit="addToCart(event)" id="ProductDrop"
                                                          accept-charset="UTF-8" class="form" enctype="multipart/form-data" novalidate="novalidate"
                                                          data-type="add-to-cart-form">
                                                        <input type="hidden" name="productId" value="@item.Id" />
                                                        <div class="product-form__buttons">
                                                            <button type="submit" name="add" class="product-form__submit button">
                                                                Add to cart
                                                                <svg class="icon" id="i-cart" version="1.1"
                                                                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                                                     y="0px" viewBox="0 0 432 522" style="enable-background: new 0 0 432 522"
                                                                     xml:space="preserve">
                                                                <g>
                                                                <path d="M412,130h-60.9C343.1,62.5,285.6,0,216,0S88.9,62.5,80.9,130H20c-11,0-20,9-20,20v352c0,11,9,20,20,20h392c11,0,20-9,20-20
		V150C432,139,423,130,412,130z M216,40c47.5,0,87,44.7,94.7,90H121.3C129,84.7,168.5,40,216,40z M392,482H40V170h40v30
		c0,11,9,20,20,20s20-9,20-20v-30h192v30c0,11,9,20,20,20s20-9,20-20v-30h40V482z"></path>
                                                                                                  </g>
                                                                                                </svg>
                                                            </button>
                                                        </div>
                                                    </form>
                                                </product-form>
                                            </div>
                                            <div class="card-information">
                                                <div class="card-information__wrapper">
                                                    <span class="card-information__text h5">
                                                        <a href="https://cafebrew-codezeel.myshopify.com/products/et-harum-quidem">
                                                            @(item.Name)
                                                        </a>
                                                    </span>
                                                    <span class="caption-large">
                                                        Elegant and comfy, this embroidered
                                                        A-line dress
                                                        which has a round neck, and three-quarter sleeves
                                                        is all you need to ensure your wardrobe is up to
                                                        date. Browse through the latest collection of
                                                        various ethnic dresses with cap sleeve sleeve
                                                        designs to give a flawless...
                                                    </span>
                                                    <div class="price">
                                                        <dl>
                                                            <div class="price__regular">
                                                                <dt>
                                                                    <span class="visually-hidden visually-hidden--inline">
                                                                        Regular
                                                                        price
                                                                    </span>
                                                                </dt>
                                                                <dd>
                                                                    <span class="price-item price-item--regular">
                                                                        $250.00
                                                                    </span>
                                                                </dd>
                                                            </div>
                                                            <div class="price__sale">
                                                                <dt>
                                                                    <span class="visually-hidden visually-hidden--inline">
                                                                        Sale
                                                                        price
                                                                    </span>
                                                                </dt>
                                                                <dd>
                                                                    <span class="price-item price-item--sale">
                                                                        $250.00
                                                                    </span>
                                                                </dd>
                                                            </div>
                                                        </dl>
                                                        <!---->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </span>
                                </li>
                            }
                        </ul>
                        <div class="slider-buttons no-js-hidden">
                            <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="Slide left">
                                <svg class="icon icon-caret" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17,9.17a1,1,0,0,0-1.41,0L12,12.71,8.46,9.17a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42l4.24,4.24a1,1,0,0,0,1.42,0L17,10.59A1,1,0,0,0,17,9.17Z">
                                    </path>
                                </svg>
                            </button>
                            <button type="button" class="slider-button slider-button--next" name="next" aria-label="Slide right">
                                <svg class="icon icon-caret" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17,9.17a1,1,0,0,0-1.41,0L12,12.71,8.46,9.17a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42l4.24,4.24a1,1,0,0,0,1.42,0L17,10.59A1,1,0,0,0,17,9.17Z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </slider-component>
                </div>
            </section>
            <section id="shopify-section-template--16631469179173__1626166765c32628fa"
                     class="shopify-section featured-blog spaced-section">

                <div class="page-width page-width-desktop">
                    <div class="blog">
                        <div class="title-wrapper--self-padded-tablet-down">
                            <h2 class="blog__title title">from the blog</h2>
                        </div>
                        <slider-component class="slider-mobile-gutter">
                            <ul id="Slider-template--16631469179173__1626166765c32628fa"
                                class="blog__posts articles-wrapper grid grid--peek slider slider--tablet blog__posts--6-items"
                                role="list">
                                @foreach (var blog in Blogs)
                                {
                                    <li class="blog__post grid__item article slider__slide slider__slide--full-width">
                                        <article class="article-card" aria-labelledby="Article-604293660965">
                                            <a href="https://cafebrew-codezeel.myshopify.com/blogs/news/coffee-beans-delivered-was-started-by-a-reformed-coffee-hater-1"
                                               class="article-content motion-reduce">
                                                <div class="article-card__image-wrapper">
                                                    <div class="article-card__image media media--landscape">
                                                        <img src="@blog.Image"
                                                             alt="Coffee Beans Delivered was started by a reformed coffee-hater" width="900"
                                                             height="692" loading="lazy" class="motion-reduce" />
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="article-card__info">
                                                <header class="article-card__header">
                                                    <span class="circle-divider caption-with-letter-spacing">
                                                        <time datetime="@blog.CreatedAt">
                                                            21 Oct, 2022
                                                        </time>
                                                    </span>
                                                    <div class="article-card__footer"></div>
                                                    <h2 class="article-card__title" id="Article-604293660965">
                                                        <a href="https://cafebrew-codezeel.myshopify.com/blogs/news/coffee-beans-delivered-was-started-by-a-reformed-coffee-hater-1">
                                                            @blog.Title
                                                        </a>
                                                    </h2>
                                                </header>
                                                <p class="article-card__excerpt rte-width">
                                                    Donec tellus Nulla lorem Nullam elit id ut elit
                                                    feugiat lacus. Congue eget dapibus congue...
                                                </p>
                                                <div class="article-card__footer">
                                                    <span class="link button article-card__link"
                                                          aria-label="Read more: Coffee Beans Delivered was started by a reformed coffee-hater">
                                                        Read more
                                                    </span>
                                                </div>
                                            </div>
                                        </article>
                                    </li>
                                }
                            </ul>
                            <div class="slider-buttons no-js-hidden">
                                <button type="button" class="slider-button slider-button--prev" name="previous"
                                        aria-label="Slide left">
                                    <svg class="icon icon-caret" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17,9.17a1,1,0,0,0-1.41,0L12,12.71,8.46,9.17a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42l4.24,4.24a1,1,0,0,0,1.42,0L17,10.59A1,1,0,0,0,17,9.17Z">
                                        </path>
                                    </svg>
                                </button>
                                <button type="button" class="slider-button slider-button--next" name="next" aria-label="Slide right">
                                    <svg class="icon icon-caret" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17,9.17a1,1,0,0,0-1.41,0L12,12.71,8.46,9.17a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42l4.24,4.24a1,1,0,0,0,1.42,0L17,10.59A1,1,0,0,0,17,9.17Z">
                                        </path>
                                    </svg>
                                </button>
                            </div>
                        </slider-component>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
<script>
    $(".logo-bar").owlCarousel({
        loop: true,
        nav: false,
        dots: false,
        autoplay: true,
        responsive: {
            0: {
                items: 1,
            },
            320: {
                items: 2,
            },
            600: {
                items: 3,
            },
            750: {
                items: 3,
            },
            990: {
                items: 4,
            },
            1270: {
                items: 6,
            },
        },
    });
    $(".flexslider").flexslider({
        animation: "fade",
        controlNav: true,
    });
</script>
