@model Coffee

@{
    ViewData["Title"] = Model.Name;
}
<partial name="_BreadcrumbsPartial" />
<main class="main-content" id="MainContent" role="main" tabindex="-1">
    <div class="contents">
        <div class="main-container medium-up--three-quarters without-sidebar-main-container">
            <section id="shopify-section-template--16631469441317__main"
                     class="shopify-section product-section spaced-section">
                <link href="//cafebrew-codezeel.myshopify.com/cdn/shop/t/2/assets/cloud-zoom.css?v=125815945460830838071666256836"
                      rel="stylesheet" type="text/css" media="all" />
                <script src="//cafebrew-codezeel.myshopify.com/cdn/shop/t/2/assets/jquery.js?v=7110405980436279461666256840"
                        defer=""></script>
                <script src="//cafebrew-codezeel.myshopify.com/cdn/shop/t/2/assets/cloud-zoom.1.0.2.min.js?v=154342357082638790291666256836"
                        defer=""></script>
                <style type="text/css">
                    .zoom-section {
                        float: left;
                        width: 100%;
                    }

                    .cloud-zoom-gallery.product-single__thumbnail {
                        max-width: 100%;
                        width: 100%;
                        float: left;
                        position: relative;
                    }

                    .zoom-tiny-image {
                        max-width: 100%;
                    }

                    .zoom-desc {
                        float: left;
                        width: auto;
                    }

                    .zoom-small-image {
                        float: left;
                        overflow: hidden;
                    }

                    .zoom-tiny-image {
                        border: 1px solid var(--color-base-border);
                        margin: 0px;
                    }

                    .mousetrap {
                        display: block !important;
                    }
                </style>

                <link href="//cafebrew-codezeel.myshopify.com/cdn/shop/t/2/assets/section-main-product.css?v=166950344170469087691691995372"
                      rel="stylesheet" type="text/css" media="all" />
                <link href="//cafebrew-codezeel.myshopify.com/cdn/shop/t/2/assets/component-accordion.css?v=98878916305498613471666256837"
                      rel="stylesheet" type="text/css" media="all" />
                <link href="//cafebrew-codezeel.myshopify.com/cdn/shop/t/2/assets/component-badge.css?v=137203610565563894031666256837"
                      rel="stylesheet" type="text/css" media="all" />
                <link href="//cafebrew-codezeel.myshopify.com/cdn/shop/t/2/assets/component-price.css?v=36297916317652221621666265776"
                      rel="stylesheet" type="text/css" media="all" />
                <link href="//cafebrew-codezeel.myshopify.com/cdn/shop/t/2/assets/component-slider.css?v=50634671765470194371666416912"
                      rel="stylesheet" type="text/css" media="all" />
                <link rel="stylesheet"
                      href="//cafebrew-codezeel.myshopify.com/cdn/shop/t/2/assets/component-deferred-media.css?v=40741356141559517761666256837"
                      media="all" onload="this.media='all'" />
                <section class="page-width">
                    <div class="product grid grid--1-col grid--2-col-tablet">
                        <div class="grid__item product__media-wrapper">
                            <slider-component class="slider-mobile-gutter">
                                <ul class="product__media-list grid grid--peek list-unstyled slider slider--mobile"
                                    role="list">
                                    <li class="product__media-item grid__item slider__slide"
                                        data-media-id="template--16631469441317__main-32060989538597">
                                        <modal-opener class="product__modal-opener product__modal-opener--image no-js-hidden"
                                                      data-modal="#ProductModal-template--16631469441317__main">
                                            <div class="zoom-section">
                                                <div class="zoom-small-image">
                                                    <div id="wrap" style="top: 0px; z-index: 9; position: relative">
                                                        <a href="//cafebrew-codezeel.myshopify.com/cdn/shop/products/04_8fc38276-e066-4a3c-80d0-85ed663f4a24_1000x1000.jpg?v=1666335900"
                                                           class="cloud-zoom" id="zoom1"
                                                           rel="position:'inside',showTitle:false,adjustX:0,adjustY:0"
                                                           style="position: relative; display: block">
                                                            <img src="//cafebrew-codezeel.myshopify.com/cdn/shop/products/04_8fc38276-e066-4a3c-80d0-85ed663f4a24_809x.jpg?v=1666335900"
                                                                 loading="lazy" alt="" style="display: block" />
                                                        </a>
                                                        <div class="mousetrap" style="
                                background-image: url('.');
                                z-index: 999;
                                position: absolute;
                                width: 600px;
                                height: 633px;
                                left: 0px;
                                top: 0px;
                                cursor: move;
                              "></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </modal-opener>
                                    </li>
                                    <li class="product__media-item grid__item slider__slide"
                                        data-media-id="template--16631469441317__main-32060989636901">
                                        <modal-opener class="product__modal-opener product__modal-opener--image no-js-hidden"
                                                      data-modal="#ProductModal-template--16631469441317__main">
                                            <div class="zoom-section">
                                                <div class="zoom-small-image">
                                                    <div id="wrap" style="top: 0px; z-index: 9; position: relative">
                                                        <a href="//cafebrew-codezeel.myshopify.com/cdn/shop/products/07_9c5e7818-0263-4542-a19e-3f0fd883291a_1000x1000.jpg?v=1666335904"
                                                           class="cloud-zoom" id="zoom1"
                                                           rel="position:'inside',showTitle:false,adjustX:0,adjustY:0"
                                                           style="position: relative; display: block">
                                                            <img src="//cafebrew-codezeel.myshopify.com/cdn/shop/products/07_9c5e7818-0263-4542-a19e-3f0fd883291a_809x.jpg?v=1666335904"
                                                                 loading="lazy" alt="" style="display: block" />
                                                        </a>
                                                        <div class="mousetrap" style="
                                background-image: url('.');
                                z-index: 999;
                                position: absolute;
                                width: 600px;
                                height: 633px;
                                left: 0px;
                                top: 0px;
                              "></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </modal-opener>
                                    </li>
                                    <li class="product__media-item grid__item slider__slide"
                                        data-media-id="template--16631469441317__main-32060989571365">
                                        <modal-opener class="product__modal-opener product__modal-opener--image no-js-hidden"
                                                      data-modal="#ProductModal-template--16631469441317__main">
                                            <div class="zoom-section">
                                                <div class="zoom-small-image">
                                                    <div id="wrap" style="top: 0px; z-index: 9; position: relative">
                                                        <a href="//cafebrew-codezeel.myshopify.com/cdn/shop/products/05_34511f6f-57c6-4eef-b383-0574971462f3_1000x1000.jpg?v=1666335904"
                                                           class="cloud-zoom" id="zoom1"
                                                           rel="position:'inside',showTitle:false,adjustX:0,adjustY:0"
                                                           style="position: relative; display: block">
                                                            <img src="//cafebrew-codezeel.myshopify.com/cdn/shop/products/05_34511f6f-57c6-4eef-b383-0574971462f3_809x.jpg?v=1666335904"
                                                                 loading="lazy" alt="" style="display: block" />
                                                        </a>
                                                        <div class="mousetrap" style="
                                background-image: url('.');
                                z-index: 999;
                                position: absolute;
                                width: 600px;
                                height: 633px;
                                left: 0px;
                                top: 0px;
                              "></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </modal-opener>
                                    </li>
                                    <li class="product__media-item grid__item slider__slide"
                                        data-media-id="template--16631469441317__main-32060989604133">
                                        <modal-opener class="product__modal-opener product__modal-opener--image no-js-hidden"
                                                      data-modal="#ProductModal-template--16631469441317__main">
                                            <div class="zoom-section">
                                                <div class="zoom-small-image">
                                                    <div id="wrap" style="top: 0px; z-index: 9; position: relative">
                                                        <a href="//cafebrew-codezeel.myshopify.com/cdn/shop/products/06_f75563eb-1eeb-480c-a63a-326d571b16af_1000x1000.jpg?v=1666335904"
                                                           class="cloud-zoom" id="zoom1"
                                                           rel="position:'inside',showTitle:false,adjustX:0,adjustY:0"
                                                           style="position: relative; display: block">
                                                            <img src="//cafebrew-codezeel.myshopify.com/cdn/shop/products/06_f75563eb-1eeb-480c-a63a-326d571b16af_809x.jpg?v=1666335904"
                                                                 loading="lazy" alt="" style="display: block" />
                                                        </a>
                                                        <div class="mousetrap" style="
                                background-image: url('.');
                                z-index: 999;
                                position: absolute;
                                width: 600px;
                                height: 633px;
                                left: 0px;
                                top: 0px;
                              "></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </modal-opener>
                                    </li>
                                    <li class="product__media-item grid__item slider__slide"
                                        data-media-id="template--16631469441317__main-32060989669669">
                                        <modal-opener class="product__modal-opener product__modal-opener--image no-js-hidden"
                                                      data-modal="#ProductModal-template--16631469441317__main">
                                            <div class="zoom-section">
                                                <div class="zoom-small-image">
                                                    <div id="wrap" style="top: 0px; z-index: 9; position: relative">
                                                        <a href="//cafebrew-codezeel.myshopify.com/cdn/shop/products/08_b1f957bb-2d26-4c6d-b1b4-2869feafa0ad_1000x1000.jpg?v=1666335900"
                                                           class="cloud-zoom" id="zoom1"
                                                           rel="position:'inside',showTitle:false,adjustX:0,adjustY:0"
                                                           style="position: relative; display: block">
                                                            <img src="//cafebrew-codezeel.myshopify.com/cdn/shop/products/08_b1f957bb-2d26-4c6d-b1b4-2869feafa0ad_809x.jpg?v=1666335900"
                                                                 loading="lazy" alt="" style="display: block" />
                                                        </a>
                                                        <div class="mousetrap" style="
                                background-image: url('.');
                                z-index: 999;
                                position: absolute;
                                width: 600px;
                                height: 633px;
                                left: 0px;
                                top: 0px;
                              "></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </modal-opener>
                                    </li>
                                    <li class="product__media-item grid__item slider__slide"
                                        data-media-id="template--16631469441317__main-32060989702437">
                                        <modal-opener class="product__modal-opener product__modal-opener--image no-js-hidden"
                                                      data-modal="#ProductModal-template--16631469441317__main">
                                            <div class="zoom-section">
                                                <div class="zoom-small-image">
                                                    <div id="wrap" style="top: 0px; z-index: 9; position: relative">
                                                        <a href="//cafebrew-codezeel.myshopify.com/cdn/shop/products/09_234cb64f-7497-49f7-b532-cf8b7f0d03c1_1000x1000.jpg?v=1666335900"
                                                           class="cloud-zoom" id="zoom1"
                                                           rel="position:'inside',showTitle:false,adjustX:0,adjustY:0"
                                                           style="position: relative; display: block">
                                                            <img src="//cafebrew-codezeel.myshopify.com/cdn/shop/products/09_234cb64f-7497-49f7-b532-cf8b7f0d03c1_809x.jpg?v=1666335900"
                                                                 loading="lazy" alt="" style="display: block" />
                                                        </a>
                                                        <div class="mousetrap" style="
                                background-image: url('.');
                                z-index: 999;
                                position: absolute;
                                width: 600px;
                                height: 633px;
                                left: 0px;
                                top: 0px;
                              "></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </modal-opener>
                                    </li>
                                </ul>
                                <div class="slider-buttons slider-buttons--overlay no-js-hidden">
                                    <button type="button" class="slider-button slider-button--prev" name="previous"
                                            aria-label="Slide left" disabled="true">
                                        <svg class="icon icon-caret" viewBox="0 0 24 24"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M17,9.17a1,1,0,0,0-1.41,0L12,12.71,8.46,9.17a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42l4.24,4.24a1,1,0,0,0,1.42,0L17,10.59A1,1,0,0,0,17,9.17Z">
                                            </path>
                                        </svg>
                                    </button>
                                    <div class="slider-counter caption">
                                        <span class="slider-counter--current">1</span>
                                        <span aria-hidden="true"> / </span>
                                        <span class="visually-hidden">of</span>
                                        <span class="slider-counter--total">6</span>
                                    </div>
                                    <button type="button" class="slider-button slider-button--next" name="next"
                                            aria-label="Slide right">
                                        <svg class="icon icon-caret" viewBox="0 0 24 24"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M17,9.17a1,1,0,0,0-1.41,0L12,12.71,8.46,9.17a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42l4.24,4.24a1,1,0,0,0,1.42,0L17,10.59A1,1,0,0,0,17,9.17Z">
                                            </path>
                                        </svg>
                                    </button>
                                </div>
                            </slider-component>
                        </div>
                        <div class="product__info-wrapper grid__item">
                            <div id="ProductInfo-template--16631469441317__main"
                                 class="product__info-container product__info-container--sticky">
                                <h1 class="product__title">@Model.Name</h1>
                                <div class="price-product">
                                    <div class="product-price" id="price-template--16631469441317__main">
                                        <div class="price price--large">
                                            <dl>
                                                <div class="price__regular">
                                                    <dt>
                                                        <span class="visually-hidden visually-hidden--inline">
                                                            Regular price
                                                        </span>
                                                    </dt>
                                                    <dd>
                                                        <span class="price-item price-item--regular">
                                                            $250.00
                                                        </span>
                                                    </dd>
                                                </div>
                                                <div class="price__sale">
                                                    <dt>
                                                        <span class="visually-hidden visually-hidden--inline">
                                                            Sale price
                                                        </span>
                                                    </dt>
                                                    <dd>
                                                        <span class="price-item price-item--sale">
                                                            $250.00
                                                        </span>
                                                    </dd>
                                                    <dt class="price__compare">
                                                        <span class="visually-hidden visually-hidden--inline">
                                                            Regular price
                                                        </span>
                                                    </dt>
                                                    <dd class="price__compare">
                                                        <s class="price-item price-item--regular">
                                                            $290.00
                                                        </s>
                                                    </dd>
                                                </div>
                                            </dl>
                                            <div class="product-card__badge price__badge-sale">
                                                <span class="badge color-accent-1" aria-hidden="true">save 13%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__description rte">
                                    <p>
                                        <span class="MuiBox-root jss8118 innerWrapText short-text">
                                            @Model.Description
                                        </span>
                                    </p>
                                </div>
                                <div class="product__type">
                                    <span class="product-vendor_name">Brand</span>:
                                    <a href="/collections/vendors?q=Costa%20Coffee" title="Costa Coffee">
                                        @Model.Brand.Name
                                    </a>
                                </div>
                                <div class="product__type">
                                    <span class="availability">Availability</span>:
                                    <span class="js-variant-availability instock">
                                        <span class="in_stock">In stock</span>
                                        <span class="out_of_stock">Out of stock</span>
                                    </span>
                                </div>
                                <div class="product-form__input product-form__quantity">
                                    <label class="form__label" for="Quantity-template--16631469441317__main">
                                        Quantity
                                    </label>
                                    <quantity-input class="quantity">
                                        <button class="quantity__button no-js-hidden" name="minus" type="button">
                                            <span class="visually-hidden">
                                                Decrease quantity for Fancy Coffee Travel
                                                Mug
                                            </span>
                                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"
                                                 role="presentation" class="icon icon-minus" fill="none"
                                                 viewBox="0 0 10 2">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                      d="M.5 1C.5.7.7.5 1 .5h8a.5.5 0 110 1H1A.5.5 0 01.5 1z"
                                                      fill="currentColor"></path>
                                            </svg>
                                        </button>
                                        <input class="quantity__input" type="number" name="quantity"
                                               id="Quantity-template--16631469441317__main" min="1" value="1"
                                               form="product-form-template--16631469441317__main" />
                                        <button class="quantity__button no-js-hidden" name="plus" type="button">
                                            <span class="visually-hidden">
                                                Increase quantity for Fancy Coffee Travel
                                                Mug
                                            </span>
                                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"
                                                 role="presentation" class="icon icon-plus" fill="none"
                                                 viewBox="0 0 10 10">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                      d="M1 4.51a.5.5 0 000 1h3.5l.01 3.5a.5.5 0 001-.01V5.5l3.5-.01a.5.5 0 00-.01-1H5.5L5.49.99a.5.5 0 00-1 .01v3.5l-3.5.01H1z"
                                                      fill="currentColor"></path>
                                            </svg>
                                        </button>
                                    </quantity-input>
                                </div>
                                <product-form class="product-form">
                                    <form method="post" onsubmit="addToCart(event)"
                                          id="product-form-template--16631469441317__main" accept-charset="UTF-8"
                                          class="form" enctype="multipart/form-data" novalidate="novalidate"
                                          data-type="add-to-cart-form">
                                        <input type="hidden" name="productId" value="@Model.Id" />
                                        <div class="product-form__buttons">
                                            <button type="submit" name="add"
                                                    class="product-form__submit button button--secondary">
                                                Add to cart
                                            </button>
                                        </div>
                                        <div class="product-form__buttons_buy">
                                            <div data-shopify="payment-button" class="shopify-payment-button">
                                                <div class="wallet-button-fade-in">
                                                    <button tabindex="0" type="button" role="button"
                                                            class="shopify-payment-button__button shopify-payment-button__button--unbranded">
                                                        Buy it now
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </product-form>
                                <div class="product-com-wish">
                                    <button type="button" aria-label="Add to wishlist" class="" button-wishlist=""
                                            data-product-handle="@Model.Name">
                                        <svg class="icon icon-cmheart not-added" fill="#000" width="50px" height="50px"
                                             version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             viewBox="0 0 477.534 477.534"
                                             style="enable-background: new 0 0 477.534 477.534" xml:space="preserve">
                                        <g>
                                        <g>
                                        <path d="M438.482,58.61c-24.7-26.549-59.311-41.655-95.573-41.711c-36.291,0.042-70.938,15.14-95.676,41.694l-8.431,8.909
       l-8.431-8.909C181.284,5.762,98.662,2.728,45.832,51.815c-2.341,2.176-4.602,4.436-6.778,6.778
       c-52.072,56.166-52.072,142.968,0,199.134l187.358,197.581c6.482,6.843,17.284,7.136,24.127,0.654
       c0.224-0.212,0.442-0.43,0.654-0.654l187.29-197.581C490.551,201.567,490.551,114.77,438.482,58.61z M413.787,234.226h-0.017
       L238.802,418.768L63.818,234.226c-39.78-42.916-39.78-109.233,0-152.149c36.125-39.154,97.152-41.609,136.306-5.484
       c1.901,1.754,3.73,3.583,5.484,5.484l20.804,21.948c6.856,6.812,17.925,6.812,24.781,0l20.804-21.931
       c36.125-39.154,97.152-41.609,136.306-5.484c1.901,1.754,3.73,3.583,5.484,5.484C453.913,125.078,454.207,191.516,413.787,234.226
       z"></path>
                                                </g>
                                            </g>
                                        </svg>
                                        <svg class="icon added icon-solidheart" version="1.1" id="Capa_1"
                                             xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="510px"
                                             height="510px" viewBox="0 0 512 512"
                                             style="enable-background: new 0 0 510 510" xml:space="preserve">
                                        <path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z">
                                            </path>
                                        </svg>
                                        Add to wishlist
                                    </button>
                                    <button type="button" aria-label="Add to compare" class="active" button-compare=""
                                            data-product-handle="@Model.Name">
                                        <svg class="icon icon-cmcompare not-added" fill="#000" width="50px"
                                             height="50px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" x="50px" y="50px"
                                             viewBox="0 0 512 512" style="enable-background: new 0 0 512 512"
                                             xml:space="preserve">
                                        <g>
                                        <g>
                                        <path d="M493.815,70.629c-11.001-1.003-20.73,7.102-21.733,18.102l-2.65,29.069C424.473,47.194,346.429,0,256,0
       C158.719,0,72.988,55.522,30.43,138.854c-5.024,9.837-1.122,21.884,8.715,26.908c9.839,5.024,21.884,1.123,26.908-8.715
       C102.07,86.523,174.397,40,256,40c74.377,0,141.499,38.731,179.953,99.408l-28.517-20.367c-8.989-6.419-21.48-4.337-27.899,4.651
       c-6.419,8.989-4.337,21.479,4.651,27.899l86.475,61.761c12.674,9.035,30.155,0.764,31.541-14.459l9.711-106.53
       C512.919,81.362,504.815,71.632,493.815,70.629z"></path>
                                                </g>
                                            </g>
                                        <g>
                                        <g>
                                        <path d="M472.855,346.238c-9.838-5.023-21.884-1.122-26.908,8.715C409.93,425.477,337.603,472,256,472
       c-74.377,0-141.499-38.731-179.953-99.408l28.517,20.367c8.989,6.419,21.479,4.337,27.899-4.651
       c6.419-8.989,4.337-21.479-4.651-27.899l-86.475-61.761c-12.519-8.944-30.141-0.921-31.541,14.459l-9.711,106.53
       c-1.003,11,7.102,20.73,18.101,21.733c11.014,1.001,20.731-7.112,21.733-18.102l2.65-29.069C87.527,464.806,165.571,512,256,512
       c97.281,0,183.012-55.522,225.57-138.854C486.594,363.309,482.692,351.262,472.855,346.238z"></path>
                                                </g>
                                            </g>
                                        </svg>
                                        <svg class="icon added icon-checked" version="1.1"
                                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             enable-background="new 0 0 26 26">
                                            <path d="m.3,14c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.4-0.4 1-0.4 1.4,0l.1,.1 5.5,5.9c0.2,0.2 0.5,0.2 0.7,0l13.4-13.9h0.1v-8.88178e-16c0.4-0.4 1-0.4 1.4,0l1.4,1.4c0.4,0.4 0.4,1 0,1.4l0,0-16,16.6c-0.2,0.2-0.4,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-7.8-8.4-.2-.3z">
                                            </path>
                                        </svg>
                                        Add to compare
                                    </button>
                                </div>
                                <div class="product__accordion accordion">
                                    <summary>
                                        <div class="summary__title">
                                            <svg class="icon icon-accordion color-foreground-text" aria-hidden="true"
                                                 focusable="false" role="presentation"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M15.64 6.92L9.5 5.12V4a.5.5 0 00-.5-.5H1a.5.5 0 00-.5.5v8.5c0 .28.22.5.5.5h1.27a2.1 2.1 0 004.06 0h3.94a2.1 2.1 0 004.06 0h1.17a.5.5 0 00.5-.5V7.4a.5.5 0 00-.36-.48zM4.3 13.6a1.1 1.1 0 110-2.2 1.1 1.1 0 010 2.2zM6.33 12a2.1 2.1 0 00-4.06 0H1.5V4.5h7V12H6.33zm5.97 1.6a1.1 1.1 0 110-2.2 1.1 1.1 0 010 2.2zM15 12h-.67a2.1 2.1 0 00-4.06 0H9.5V6.17l5.5 1.6V12z">
                                                </path>
                                            </svg>
                                            <h2 class="h4 accordion__title">
                                                Shipping &amp; Returns
                                            </h2>
                                        </div>
                                        <svg class="icon icon-caret" data-name="Layer 1"
                                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 979.95 531.49">
                                            <path d="M22.14,246a40.74,40.74,0,0,0-.3,57.6l445.9,450a40.68,40.68,0,0,0,57.6.3c.2-.1.2-.3.4-.5.7-.6,1.6-.8,2.3-1.5L977.94,306a40.77,40.77,0,1,0-57.4-57.9l-423.3,419.5L79.74,246.24a40.83,40.83,0,0,0-57.6-.2Z"
                                                  transform="translate(-10.07 -234.26)"></path>
                                        </svg>
                                    </summary>
                                    <div class="accordion__content rte">
                                        <p>
                                            Free shipping and returns available on all orders!<br />We
                                            ship all US domestic orders within
                                            <strong>5-10 business days</strong>!
                                        </p>
                                    </div>
                                </div>
                                <div class="product__accordion accordion">
                                    <summary>
                                        <div class="summary__title">
                                            <svg class="icon icon-accordion color-foreground-text" aria-hidden="true"
                                                 focusable="false" role="presentation"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7.48 10.57v1.83a.5.5 0 001 0v-1.81a1.1 1.1 0 10-1-.02z">
                                                </path>
                                                <path d="M13.15 5.66h-2.08V3.79a3.7 3.7 0 00-.8-2.3C9.76.88 8.98.5 8 .5c-.98 0-1.76.37-2.29 1a3.7 3.7 0 00-.79 2.3v1.86H2.83a.5.5 0 00-.5.5V15c0 .28.23.5.5.5h10.32a.5.5 0 00.5-.5V6.16a.5.5 0 00-.5-.5zM5.9 3.92v-.08-.02c.03-.7.22-1.28.56-1.68.32-.39.81-.64 1.52-.64s1.2.26 1.52.64c.34.4.54.98.56 1.68v1.84H5.91V3.92zm6.74 10.58H3.33V6.66h9.32v7.84z">
                                                </path>
                                            </svg>
                                            <h2 class="h4 accordion__title">Secure Payments</h2>
                                        </div>
                                        <svg class="icon icon-caret" data-name="Layer 1"
                                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 979.95 531.49">
                                            <path d="M22.14,246a40.74,40.74,0,0,0-.3,57.6l445.9,450a40.68,40.68,0,0,0,57.6.3c.2-.1.2-.3.4-.5.7-.6,1.6-.8,2.3-1.5L977.94,306a40.77,40.77,0,1,0-57.4-57.9l-423.3,419.5L79.74,246.24a40.83,40.83,0,0,0-57.6-.2Z"
                                                  transform="translate(-10.07 -234.26)"></path>
                                        </svg>
                                    </summary>
                                    <div class="accordion__content rte">
                                        <p>
                                            Your Data security &amp; privacy is our priority. Pay
                                            securely through 128 bit encrypted payment gateway. We
                                            support credit cards, net banking and debits cards.
                                        </p>
                                    </div>
                                </div>
                                <div class="product__accordion accordion">
                                    <summary>
                                        <div class="summary__title">
                                            <svg class="icon icon-accordion color-foreground-text" aria-hidden="true"
                                                 focusable="false" role="presentation"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7.59 1.34a1 1 0 01.7-.29h5.66a1 1 0 011 1v5.66a1 1 0 01-.3.7L7.6 15.5a1 1 0 01-1.42 0L.52 9.83a1 1 0 010-1.42l7.07-7.07zm6.36 6.37l-7.07 7.07-5.66-5.66L8.3 2.05h5.66v5.66z"
                                                      fill-rule="evenodd"></path>
                                                <path d="M9.7 6.3a1 1 0 101.42-1.42 1 1 0 00-1.41 1.41zM9 7a2 2 0 102.83-2.83A2 2 0 009 7z"
                                                      fill-rule="evenodd"></path>
                                            </svg>
                                            <h2 class="h4 accordion__title">Exclusive Offers</h2>
                                        </div>
                                        <svg class="icon icon-caret" data-name="Layer 1"
                                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 979.95 531.49">
                                            <path d="M22.14,246a40.74,40.74,0,0,0-.3,57.6l445.9,450a40.68,40.68,0,0,0,57.6.3c.2-.1.2-.3.4-.5.7-.6,1.6-.8,2.3-1.5L977.94,306a40.77,40.77,0,1,0-57.4-57.9l-423.3,419.5L79.74,246.24a40.83,40.83,0,0,0-57.6-.2Z"
                                                  transform="translate(-10.07 -234.26)"></path>
                                        </svg>
                                    </summary>
                                    <div class="accordion__content rte">
                                        <p>
                                            Now enjoy the benefits of exclusive offers. Subscribe to
                                            remain updated on latest offers
                                        </p>
                                    </div>
                                </div>
                                <div class="product__accordion accordion">
                                    <summary>
                                        <div class="summary__title">
                                            <svg class="icon icon-accordion color-foreground-text" aria-hidden="true"
                                                 focusable="false" role="presentation"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9 .5a.5.5 0 000 1h1a4.5 4.5 0 110 9H2.2l3.15-3.15a.5.5 0 10-.7-.7l-4 4a.5.5 0 000 .7l4 4a.5.5 0 00.7-.7L2.21 11.5H10a5.5 5.5 0 100-11H9z">
                                                </path>
                                            </svg>
                                            <h2 class="h4 accordion__title">Return Policy</h2>
                                        </div>
                                        <svg class="icon icon-caret" data-name="Layer 1"
                                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 979.95 531.49">
                                            <path d="M22.14,246a40.74,40.74,0,0,0-.3,57.6l445.9,450a40.68,40.68,0,0,0,57.6.3c.2-.1.2-.3.4-.5.7-.6,1.6-.8,2.3-1.5L977.94,306a40.77,40.77,0,1,0-57.4-57.9l-423.3,419.5L79.74,246.24a40.83,40.83,0,0,0-57.6-.2Z"
                                                  transform="translate(-10.07 -234.26)"></path>
                                        </svg>
                                    </summary>
                                    <div class="accordion__content rte">
                                        <p>Return &amp; Exchange policy in 7 Days</p>
                                    </div>
                                </div>
                                <share-button class="share-button">
                                    <button class="share-button__button button">
                                        <svg version="1.1" fill="#666" width="13" height="13" class="icon icon-share"
                                             xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1000 1000"
                                             xml:space="preserve">
                                        <g>
                                        <g transform="translate(0.000000,511.000000) scale(0.100000,-0.100000)">
                                        <path d="M7040.3,5003.6c-32.1-4.6-119.2-20.6-194.8-34.4c-369-64.2-788.5-254.4-1107.1-502c-110-84.8-644.1-602.8-1187.3-1148.4c-1031.5-1040.6-1127.7-1152.9-1304.2-1522C3068,1418.7,2994.6,1033.6,3013,575.2c13.8-346.1,57.3-547.8,183.4-864.1c243-607.4,788.5-1152.9,1398.2-1402.8l188-75.6l300.3,304.9c254.4,259,314,332.4,382.8,476.8c116.9,249.9,119.2,272.8,29.8,272.8c-112.3,0-405.7,80.2-545.5,149c-609.7,307.1-914.6,1029.2-708.3,1684.7c94,302.6,151.3,369,1249.2,1462.4c985.6,981,1042.9,1033.8,1205.7,1111.7c563.9,265.9,1185,162.7,1616-270.5c281.9-281.9,412.6-596,408-997.1c0-288.8-68.8-529.5-210.9-744.9c-52.7-77.9-371.3-417.2-731.2-774.7l-639.5-637.2L7182.4,48c66.5-327.8,48.1-889.4-36.7-1205.7c-32.1-126.1-55-231.5-50.4-236.1c20.6-20.6,442.4,382.8,1285.9,1233.2c990.2,997.1,1095.6,1123.2,1272.1,1492.2c435.5,916.9,284.2,2035.4-373.6,2785c-502,568.4-1134.6,868.7-1872.7,889.3C7237.4,5010.4,7072.4,5010.4,7040.3,5003.6z">
                                                    </path>
                                        <path d="M4915.5,1686.8c-295.7-302.6-408-463-460.7-662.4l-22.9-87.1h73.3c130.7,0,421.7-87.1,591.4-176.5c215.5-112.3,440.1-336.9,552.4-552.4c222.3-421.8,231.5-887.1,25.2-1311.1c-77.9-162.8-142.1-231.5-1095.6-1187.3C3959.6-2913.5,3515-3342.1,3430.2-3397.1C3214.7-3539.2,2974-3608,2685.2-3608c-401.1-4.6-715.2,126.1-997.1,408c-433.2,430.9-536.4,1054.4-270.5,1616c75.6,160.4,130.6,220,765.6,859.6l683.1,687.6l-39,149c-29.8,114.6-36.7,252.1-36.7,596c0,412.6,4.6,465.3,61.9,671.6c34.4,121.5,61.9,229.2,61.9,236.1c0,43.5-300.3-243-1152.9-1088.8C1234.3,2.1,734.6-511.3,654.4-614.5c-953.5-1208-641.8-2986.6,664.7-3791.2c873.3-536.4,1966.7-508.9,2828.5,75.6c268.2,181.1,2246.3,2163.8,2409.1,2413.6c325.5,502,456.1,978.7,430.9,1579.3c-13.8,330.1-59.6,541-183.4,850.4c-249.8,623.5-820.6,1185-1439.5,1418.8l-153.6,57.3L4915.5,1686.8z">
                                                    </path>
                                                </g>
                                            </g>
                                        </svg>

                                        Share
                                    </button>
                                    <details hidden="">
                                        <summary class="share-button__button button button--tertiary">
                                            <svg version="1.1" fill="#666" width="13" height="13"
                                                 class="icon icon-share" xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1000 1000"
                                                 xml:space="preserve">
                                            <g>
                                            <g transform="translate(0.000000,511.000000) scale(0.100000,-0.100000)">
                                            <path d="M7040.3,5003.6c-32.1-4.6-119.2-20.6-194.8-34.4c-369-64.2-788.5-254.4-1107.1-502c-110-84.8-644.1-602.8-1187.3-1148.4c-1031.5-1040.6-1127.7-1152.9-1304.2-1522C3068,1418.7,2994.6,1033.6,3013,575.2c13.8-346.1,57.3-547.8,183.4-864.1c243-607.4,788.5-1152.9,1398.2-1402.8l188-75.6l300.3,304.9c254.4,259,314,332.4,382.8,476.8c116.9,249.9,119.2,272.8,29.8,272.8c-112.3,0-405.7,80.2-545.5,149c-609.7,307.1-914.6,1029.2-708.3,1684.7c94,302.6,151.3,369,1249.2,1462.4c985.6,981,1042.9,1033.8,1205.7,1111.7c563.9,265.9,1185,162.7,1616-270.5c281.9-281.9,412.6-596,408-997.1c0-288.8-68.8-529.5-210.9-744.9c-52.7-77.9-371.3-417.2-731.2-774.7l-639.5-637.2L7182.4,48c66.5-327.8,48.1-889.4-36.7-1205.7c-32.1-126.1-55-231.5-50.4-236.1c20.6-20.6,442.4,382.8,1285.9,1233.2c990.2,997.1,1095.6,1123.2,1272.1,1492.2c435.5,916.9,284.2,2035.4-373.6,2785c-502,568.4-1134.6,868.7-1872.7,889.3C7237.4,5010.4,7072.4,5010.4,7040.3,5003.6z">
                                                        </path>
                                            <path d="M4915.5,1686.8c-295.7-302.6-408-463-460.7-662.4l-22.9-87.1h73.3c130.7,0,421.7-87.1,591.4-176.5c215.5-112.3,440.1-336.9,552.4-552.4c222.3-421.8,231.5-887.1,25.2-1311.1c-77.9-162.8-142.1-231.5-1095.6-1187.3C3959.6-2913.5,3515-3342.1,3430.2-3397.1C3214.7-3539.2,2974-3608,2685.2-3608c-401.1-4.6-715.2,126.1-997.1,408c-433.2,430.9-536.4,1054.4-270.5,1616c75.6,160.4,130.6,220,765.6,859.6l683.1,687.6l-39,149c-29.8,114.6-36.7,252.1-36.7,596c0,412.6,4.6,465.3,61.9,671.6c34.4,121.5,61.9,229.2,61.9,236.1c0,43.5-300.3-243-1152.9-1088.8C1234.3,2.1,734.6-511.3,654.4-614.5c-953.5-1208-641.8-2986.6,664.7-3791.2c873.3-536.4,1966.7-508.9,2828.5,75.6c268.2,181.1,2246.3,2163.8,2409.1,2413.6c325.5,502,456.1,978.7,430.9,1579.3c-13.8,330.1-59.6,541-183.4,850.4c-249.8,623.5-820.6,1185-1439.5,1418.8l-153.6,57.3L4915.5,1686.8z">
                                                        </path>
                                                    </g>
                                                </g>
                                            </svg>

                                            Share
                                        </summary>
                                        <div class="share-button__fallback">
                                            <div class="field">
                                                <input type="text" class="field__input" id="url"
                                                       value="https://cafebrew-codezeel.myshopify.com/products/et-harum-quidem"
                                                       placeholder="Link" onclick="this.select();" readonly="" />
                                                <label class="field__label" for="url">Link</label>
                                            </div>
                                            <button class="button button--tertiary">
                                                <svg class="icon icon-clipboard" width="11" height="13" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                                     focusable="false">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M2 1a1 1 0 011-1h7a1 1 0 011 1v9a1 1 0 01-1 1V1H2zM1 2a1 1 0 00-1 1v9a1 1 0 001 1h7a1 1 0 001-1V3a1 1 0 00-1-1H1zm0 10V3h7v9H1z"
                                                          fill="currentColor"></path>
                                                </svg>
                                            </button>
                                            <span id="ShareMessage-template--16631469441317__main"
                                                  class="share-button__message hidden" role="status" aria-hidden="true">
                                                Link copied to clipboard!
                                            </span>
                                        </div>
                                    </details>
                                </share-button>
                                <script src="//cafebrew-codezeel.myshopify.com/cdn/shop/t/2/assets/share.js?v=78543033263288461101666256842"
                                        defer="defer"></script>
                            </div>
                        </div>
                    </div>
                    <product-modal id="ProductModal-template--16631469441317__main" class="product-media-modal">
                        <div role="dialog" aria-label="Media gallery" aria-modal="true" tabindex="-1">
                            <button id="ModalClose-template--16631469441317__main" type="button"
                                    class="product-media-modal__toggle" aria-label="Close">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"
                                     role="presentation" class="icon icon-close" viewBox="0 0 18 17">
                                    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z">
                                    </path>
                                </svg>
                            </button>
                            <div class="product-media-modal__content" role="document" aria-label="Media gallery"
                                 tabindex="0">
                                <img src="//cafebrew-codezeel.myshopify.com/cdn/shop/products/04_8fc38276-e066-4a3c-80d0-85ed663f4a24_809x.jpg?v=1666335900"
                                     alt="Fancy Coffee Travel Mug" loading="lazy" data-media-id="32060989538597" />
                                <img src="//cafebrew-codezeel.myshopify.com/cdn/shop/products/07_9c5e7818-0263-4542-a19e-3f0fd883291a_809x.jpg?v=1666335904"
                                     alt="Fancy Coffee Travel Mug" loading="lazy" data-media-id="32060989636901" />
                                <img src="//cafebrew-codezeel.myshopify.com/cdn/shop/products/05_34511f6f-57c6-4eef-b383-0574971462f3_809x.jpg?v=1666335904"
                                     alt="Fancy Coffee Travel Mug" loading="lazy" data-media-id="32060989571365" />
                                <img src="//cafebrew-codezeel.myshopify.com/cdn/shop/products/06_f75563eb-1eeb-480c-a63a-326d571b16af_809x.jpg?v=1666335904"
                                     alt="Fancy Coffee Travel Mug" loading="lazy" data-media-id="32060989604133" />
                                <img src="//cafebrew-codezeel.myshopify.com/cdn/shop/products/08_b1f957bb-2d26-4c6d-b1b4-2869feafa0ad_809x.jpg?v=1666335900"
                                     alt="Fancy Coffee Travel Mug" loading="lazy" data-media-id="32060989669669" />
                                <img src="//cafebrew-codezeel.myshopify.com/cdn/shop/products/09_234cb64f-7497-49f7-b532-cf8b7f0d03c1_809x.jpg?v=1666335900"
                                     alt="Fancy Coffee Travel Mug" loading="lazy" data-media-id="32060989702437" />
                            </div>
                        </div>
                    </product-modal>
                </section>
                <div class="page-width">
                    <div class="product-single__description">
                        <div class="product-description">
                            <ul class="tabs">
                                <li><a href="#tab-1" class="active">Description</a></li>
                            </ul>

                            <div class="tab-container">
                                <div id="tab-1">
                                    @Html.Raw(Model.Description)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(window).ready(() => {
            $(".product__accordion summary").on('click', function (event) {
                event.stopPropagation();
                $(this).closest('div').find('.accordion__content').slideToggle(800);
                $(this).closest('div').toggleClass('active');
            });
        })
    </script>
}
     